<div class="row">

    <div class="col-md-5 mx-auto mt-5">


        <app-alert  [message]="error" *ngIf="error"  (close)="closeDialog($event)" ></app-alert>

        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" required email ngModel type="email" id="email" class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" required minlength="6" ngModel type="password" id="password"
                    class="form-control">
            </div>

            <button [disabled]="!authForm.valid" class="btn btn-primary">{{isLoginMode ? 'Login':'Register'}}</button>
            <button class="btn btn-secondary ms-2" (click)="OnToggleMode()">
                Change to {{isLoginMode ? 'Register':'Login'}}
            </button>

        </form>
    </div>
</div>